@use "../../styles/partials/mixins" as *;

.expenseFilter {
  padding: 0 2.4rem;
  margin-top: 2.4rem;
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
  &__option {
    height: 3rem;
    border-bottom: 1px solid #fafafa;
    flex-grow: 3;
  }
  &__button {
    height: 3rem;
    background-color: darkslateblue;
    color: #fff;
    border-radius: 8px;
    flex-grow: 1;
  }
}
